<div class="wrapper row3">
	  <main class="hoc container clear">
	    <!-- main body -->
	    <!-- ################################################################################################ -->
	    <div class="center btmspace-50">
	      <h4 class="heading" style='FONT-SIZE: 39PX;'>MUA THẺ CÀO TRỰC TUYẾN</h4>

	    </div>
	    <ul class="nospace group btmspace-50">

				<li class="one_third first">
					<a routerLink="/client">
          <img src="/assets/images/img-1.jpg" height="42" width="42">
				</a>
	      </li>
	      <li class="one_third">
					<a routerLink="/client">
          <img src="/assets/images/img-2.jpg" height="42" width="42">
				</a>
	      </li>
	      <li class="one_third">
					<a routerLink="/client">
          <img src="/assets/images/img-3.jpg" height="42" width="42">
				</a>
	      </li>


	    </ul>
			<ul class="nospace group btmspace-50">
				<li class="one_third">
					<a routerLink="/client">
          <img src="/assets/images/img-4.jpg" height="42" width="42">
				</a>
				</li>
				<li class="one_third">
					<a routerLink="/client">
          <img src="/assets/images/img-5.jpg" height="42" width="42">
				</a>
				</li>
				<li class="one_third">
					<a routerLink="/client">
          <img src="/assets/images/img-6.jpg" height="42" width="42">
				</a>
				</li>

		 </ul>


	    <!-- ################################################################################################ -->
	    <!-- / main body -->
	    <div class="clear"></div>
	  </main>
	</div>
